doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'

        types:
                TsVector: OpsWay\Doctrine\DBAL\Types\TsVector
    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        controller_resolver:
            auto_mapping: false

        dql:
            string_functions:
                SIMILARITY: App\Doctrine\ORM\Query\AST\Functions\Similarity
                WORD_SIMILARITY: App\Doctrine\ORM\Query\AST\Functions\WordSimilarity
                TO_TSVECTOR: OpsWay\Doctrine\ORM\Query\AST\Functions\ToTsvector
                TO_TSQUERY: OpsWay\Doctrine\ORM\Query\AST\Functions\ToTsquery
                WEBSEARCH_TO_TSQUERY: App\Doctrine\ORM\Query\AST\Functions\WebsearchToTsquery
                TS_CONCAT_OP: OpsWay\Doctrine\ORM\Query\AST\Functions\TsConcat
                TS_MATCH_OP: OpsWay\Doctrine\ORM\Query\AST\Functions\TsMatch
                JSONB_CONTAINS: OpsWay\Doctrine\ORM\Query\AST\Functions\Contains

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
