.git
.github
.idea
.vscode
.symfony.local.yaml

var/cache/
var/log/
var/storage/
var/tailwind/
var/share/

vendor/

tests/
phpunit.dist.xml
phpunit.xml
.phpunit.cache/

docker-compose.yml
.dockerignore

.env.local
.env.*.local

node_modules/
assets/vendor/
